@font-face {
	font-family: Gayathri;
	src: url(../font/Gayathri-Regular.ttf);
}
/* @font-face {
	font-family: JennaSue;
	src: url(../font/JennaSue.ttf);
} */
@media only screen and (max-width: 600px) {
	nav ul li {
		float: none;
		display: block;
		width: 100%;
	}

	li.btn-xy {
		background-color: rgb(19, 15, 14);
		font-size: 1rem;
		width: 35%;

		margin-right: 20px;
		padding-bottom: 0px;
	}
	input[type=date],
	select {
		display: block;
		width: auto;
		padding-right: 5px;
		margin-right: 5px;
		border: 5px;
	}
	input#ckn-in,
	input#ckn-out,
	select#guests {
		width: 100%;
		text-align: center;
		padding-left: 0px;
	}

	div.inline-blocks {
		display: block;
		float: none;
		border: 1px solid rgba(235, 123, 104, 1);
		border-radius: 100px;
		box-sizing: initial;
		padding-top: 70px;
	}
	div.aboutinline {
		display: block;
		float: none;
		position: relative;
		width: 25%;
		height: 100px;
		box-sizing: initial;
		padding: 30px;
	}
}
body {
	font-family: gayathri, open sans;
	width: 100%;
	text-align: center;
}
::-webkit-scrollbar {
	background: transparent;
}
::-webkit-scrollbar-thumb {
	background: transparent;
	border: rgba(235, 123, 104, 1) 2px solid;
	border-radius: 15px;
}
header {
	width: 100%;
	background-color: rgba(64, 64, 64, 1);
}
nav #navigation {
	width: auto;
	height: auto;
	margin-top: 10px;
}
nav #img-home {
	background-size: cover;
	width: 100%;
	margin-bottom: -10px;
	padding-bottom: 0px;
}
nav li.rightbook {
	border: rgba(235, 123, 104, 1) solid 2px;
	border-radius: 50px;
	box-sizing: border-box;
	float: right;
	width: 30%;
	padding: 15px 0px 10px 0px;
}
nav li.left {
	box-sizing: border-box;
	float: left;
	width: 15%;
}
ul {
	list-style-type: none;
	padding: 5px;
}
ul li.amenities {
	display: inline;
	text-align: right;
	padding-left: 20px;
}
nav a:hover {
	text-decoration: rgba(235, 123, 104, 1) 2px solid underline;
}
nav li:active {
	background-color: rgba(255, 203, 174, 1);
}
li {
	display: inline-block;
	width: 30px;
	padding: 25px 0px 15px 0px;
	margin: 5px 0px 5px 0px;
}
li a {
	text-decoration: none;
	color: rgba(235, 123, 104, 1);
}
li.btn-xy {
	background-color: rgb(19, 15, 14);
	font-size: 1rem;
	color: rgb(22, 20, 20);
	width: 25%;
	height: 50px;
	border-radius: 35px;
	margin-right: 20px;
	padding: 25px 10px 0px;
}
ul li.backbtn {
	background-color: rgb(19, 15, 14);
	font-size: 1rem;
	color: rgb(22, 20, 20);
	width: 25%;
	height: 50px;
	border-radius: 35px;
	margin-right: 20px;
	padding: 25px 10px 0px;
}
a {
	font-size: 1.2em;
	width: 100%;
	height: 100%;
}
a.btn-xy {
	font-size: 1.5rem;
	width: 100%;
	height: 100%;
}
input.btn-send {
	text-decoration: none;
	font-size: 1.2em;
	color: #ffcbae;
	background-color: #1a1a1a;
	width: 15%;
	height: 50px;
	border-radius: 25px;
	margin-right: 30%;
}
input#btn-calculate {
	background-color: #1a1a1a;
	font-size: 1.5em;
	color: #ffcbae;
	width: 50%;
	height: 50px;
	border-radius: 25px;
	margin-top: 35px;
}
h1,
h2 {
	font-family: JennaSue, Geneva, Tahoma, sans-serif;
	font-size: 4em;
	margin-bottom: 5px;
	color: rgba(235, 123, 104, 1);
}
h3 {
	font-family: JennaSue, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	margin: 10px 5px 10px 5px;
	font-size: 3em;
}
h4 {
	font-size: 1.7em;
	padding-left: 25px;
}
h4 a {
	text-decoration: none;
	color: rgba(235, 123, 104, 1);
	margin-left: 10px;
}
table.inline-block {
	margin-left: 5px;
	width: 35%;
}
div.inline-blocks {
	display: inline-block;
	width: 30%;
	border: 1px solid rgba(235, 123, 104, 1);
	border-radius: 100px;
	box-sizing: initial;
	padding-top: 70px;
}

div.aboutinline {
	display: inline-block;
	position: relative;
	width: 25%;
	height: 100px;
	box-sizing: initial;
	padding: 30px;
}
div > h1,
div p .bgstyle {
	text-shadow: 2px 2px #1a1a1a 20px;
}
p.style-p {
	font-size: 1.5em;
	color: #1a1a1a;
	margin: 5px 0px;
}
p.style-p2 {
	color: rgba(64, 64, 64, 1);
	font-size: 2em;
	text-align: left;
}
span.food {
	font-style: italic;
}
form {
	margin-top: 25px;
	margin-bottom: 25px;
}
label {
	float: left;
	width: 60%;
}
label#checkbox {
	width: 60%;
	margin-left: 10px;
	text-align: left;
}
label.ckbx-left {
	float: none;
	width: 30%;
}
input[type=text],
input[type=email] {
	border-style: none;
	width: 50%;
	height: 50px;
	box-shadow: rgba(64, 64, 64, 1) 3px 3px 20px;
	border-radius: 35px;
	padding-left: 25px;
	margin-bottom: 20px;
}
input[type=date],
select {
	border: none;
	background-color: rgba(255, 203, 174, 1);
	font-family: gayathri, "open-sans";
	padding-left: 10%;
	font-size: 1.2em;
	height: 50px;
	width: 25%;
}
input[type=date] {
	height: 50px;
	width: 25%;
}
textarea#message {
	font-family: gayanthri, "open-sans";
	border-style: none;
	width: 50%;
	height: 250px;
	box-shadow: rgba(64, 64, 64, 1) 3px 3px 20px;
	border-radius: 35px;
	padding-left: 25px;
	padding-top: 25px;
	margin-bottom: 20px;
}
textarea.scroller {
	padding-top: 10px;
	text-align: center;
	border-style: none;
	box-sizing: border-box;
	background-color: transparent;
	font-size: 1em;
	font-family: gayathri;
	overflow-y: auto;
	overflow-x: hidden;
	max-width: 100%;
}
hr {
	background-color: rgba(64, 64, 64, 1);
	border-style: 2px solid rgba(235, 123, 104, 1);
}
footer {
	background-color: rgba(64, 64, 64, 1);
	color: rgba(235, 123, 104, 1);
}
footer li {
	display: inline-block;
	width: 20%;
}
footer div .inlinefooter {
	display: inline-block;
	width: 20%;
}
span .totalprice {
	font-family: gayathri, "open-sans";
	color: rgba(64, 64, 64, 1);
}
